<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="description" content="Catálogo interactivo de productos">
    <meta name="author" content="Galaxy Games">
    <meta name="keywords" content="mercado, productos, compras, online">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
</head>
<style>
    body{ font-family: "Fjalla One", serif;}
</style>
<body>
    <header>
        <nav>
            <div class="nav-wrapper teal">
                <a href="/" class="brand-logo center">Galaxy Shop</a>
            </div>
        </nav>
    </header>
    <main class="container">
        {{{body}}}
    </main>
    <footer class="page-footer teal">
        <div class="container">
            <p class="center-align">&copy; Galaxy Games</p>
        </div>
    </footer>
</body>
</html>
